@charset "UTF-8"; /*not necessary*/
@import
	url('https://fonts.googleapis.com/css?family=Nunito:100,300,400,600,700')
	;

@import
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	;

body {

}

.profile_list {
	float: left;
	width: 100%;
	background: #fff;
	padding: 30px 0;
}

.promote {
	border: 1px dashed #ddd;
	display: flex;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: stretch;
}

.col-md-4 {
	padding: 0px;
}

/*not necessary*/
.profile-card-2 .card-img-block {
	float: left;
	overflow: hidden;
	max-width: 100%;
	max-height: 300px;
	border-radius: 7px;
}

.profile-card-2 .card-body {
	position: absolute;
	text-overflow: ellipsis;
	align-items: flex-end;
	bottom: 10px;
	left: 10px;
	height: 20px;
	background-color: rgba(0,0,0,0.13);
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	float: left;
	right: 10px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	display: inline-flex;
}

.profile-card-2 .profile {
	border-radius: 50%;
	position: absolute;
	/* [disabled]top: 80%; */
	left: 15%;
	max-width: 40px;
	border: 3px solid rgba(255, 255, 255, 1);
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	float: left;
	display: inline-block;
	bottom: 15%;
}

.profile-card-2 h5 {
	font-weight: 600;
	color: #007bff;
}

.profile-card-2 .card-text {
	font-weight: 500;
	font-size: 1.0em;
}

.profile-card-2 .icon-block {
	float: left;
	width: 100%;
}

.profile-card-2 .icon-block a {
	text-decoration: none;
}

.profile-card-2 i {
	display: inline-block;
	font-size: 16px;
	text-align: center;
	border: 0px solid #007bff;
	border-radius: 50%;
	margin: 0 1px 0;
	line-height: 26px;
}

.profile-card-2 i:hover {

}
