<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jang.dressfi.mapper.BoardMapper">
    <insert id="createRoom">
        INSERT INTO chatroom (user_user_id, tutor_user_user_id, class_class_id)
        VALUES (#{USER_user_id}, #{TUTOR_USER_user_id}, #{CLASS_class_id})
    </insert>

    <select id="isRoom" resultType="ChatRoomVO">
        SELECT *
         FROM chatroom
        WHERE user_user_id = #{USER_user_id}
          AND tutor_user_user_id = #{TUTOR_USER_user_id}
          AND class_class_id = #{CLASS_class_id}
    </select>

    <insert id="insertMessage">
        INSERT INTO message (message_sender, message_receiver, message_content,
                             chatroom_chatroom_id, user_user_id, tutor_user_user_id,
                             class_class_id)
        VALUES (#{message_sender}, #{message_receiver}, #{message_content},
                #{CHATROOM_chatroom_id}, #{USER_user_id},
                #{TUTOR_USER_user_id}, #{CLASS_class_id})
    </insert>

    <select id="getPartner" resultType="MessageVO">
        SELECT user_user_id
        FROM message
        WHERE tutor_user_user_id =
              #{TUTOR_USER_user_id}
          AND class_class_id = #{CLASS_class_id}
    </select>
    <select id="getProfile" resultType="String">
        SELECT user_profileimagepath
        FROM user
        WHERE user_id = #{user_id}
    </select>

    <select id="getName" resultType="String">
        SELECT user_name
        FROM user
        WHERE user_id = #{user_id}
    </select>

    <select id="getMessageList" resultType="MessageVO">
        SELECT m.*, user_name, user_profileimagepath
        FROM message m
                 LEFT OUTER JOIN
             user u ON m.message_sender = u.user_id
        WHERE chatroom_chatroom_id =
              #{CHATROOM_chatroom_id}

    </select>

    <select id="getRoomList" resultType="ChatRoomVO">
        SELECT *
        FROM chatroom
        WHERE user_user_id = #{USER_user_id}
    </select>
    <select id="getRoomList2" resultType="ChatRoomVO">
        SELECT *
        FROM chatroom
        WHERE tutor_user_user_id = #{TUTOR_USER_user_id}
    </select>

    <select id="getRecentMessage" resultType="MessageVO">

        SELECT m.*, class_name, class_id, tutor_tutor_id
        FROM message m
                 LEFT OUTER JOIN class c ON m.class_class_id = c.class_id
        WHERE chatroom_chatroom_id = #{CHATROOM_chatroom_id}
        ORDER BY message_id
                DESC LIMIT 1;


    </select>


    <select id="getTutorId" resultType="String">
        SELECT tutor_id
        FROM tutor
        WHERE user_user_id = #{USER_user_id}
    </select>

    <update id="updateReadTime">
        UPDATE message
        SET message_readtime = now()
        WHERE tutor_user_user_id =
              #{TUTOR_USER_user_id}
          AND class_class_id = #{CLASS_class_id}
          AND message_readtime = message_sendtime
          AND message_sender =
              tutor_user_user_id
          AND user_user_id = #{USER_user_id};
    </update>
    <update id="updateReadTimeTutor">
        UPDATE message
        SET message_readtime = now()
        WHERE tutor_user_user_id =
              #{TUTOR_USER_user_id}
          AND class_class_id = #{CLASS_class_id}
          AND message_readtime = message_sendtime
          AND message_sender = user_user_id
          AND user_user_id = #{USER_user_id};

    </update>


    <select id="getUnReadCount" resultType="int">

        SELECT COUNT(*)
        FROM message
        WHERE user_user_id = #{USER_user_id}
          AND tutor_user_user_id = #{TUTOR_USER_user_id}
          AND class_class_id =
              #{CLASS_class_id}
          AND message_readtime = message_sendtime
          AND message_sender = tutor_user_user_id;

    </select>
    <select id="getUnReadCountTutor" resultType="int">

        SELECT COUNT(*)
        FROM message
        WHERE tutor_user_user_id = #{TUTOR_USER_user_id}
          AND class_class_id = #{CLASS_class_id}
          AND message_readtime =
              message_sendtime
          AND message_sender = user_user_id
          AND user_user_id =
              #{USER_user_id};

    </select>

    <select id="getAllCount" resultType="int">
        SELECT COUNT(*)
        FROM message
        WHERE (tutor_user_user_id =
               #{TUTOR_USER_user_id} AND message_readtime = message_sendtime AND
               message_sender != #{USER_user_id})
           OR (user_user_id = #{USER_user_id}
            AND message_readtime = message_sendtime AND message_sender !=
                                                        #{USER_user_id});

    </select>
</mapper>